<%- include('head.ejs') -%>
<%- include('header.ejs', {s: s}) -%>
<%- include('search.ejs', {key: 'tags', path: '/items'}) -%>
<% i.forEach(item => { %>
		<section class="itemResult">
			<h2><a href="<%- item.id -%>"><%- item.name -%></a></h2>
			<h3><a href="<%- item.url -%>"><%- item.url -%></a></h3>
			<ul>
<% item.tags.forEach(tag => { %>
				<li><a href="<%- tag.id -%>"><%- tag.tag -%></a></li>
<% }) %>
			</ul>
		</section>
<% }) %>
<%- include('pagination.ejs', {p: p}) %>
<%- include('foot.ejs') -%>
