<%- include('head.ejs') -%>
<%- include('header.ejs', {s: s}) -%>
<%- include('search.ejs', {key: 'text', path: '/tags'}) -%>
<% i.forEach(item => { %>
		<section class="itemResult">
			<h2><a href="<%- item.id -%>"><%- item.tag -%></a></h2>
			<h3><%- item.uses -%></h3>
		</section>
<% }) %>
<%- include('pagination.ejs', {p: p}) %>
<%- include('foot.ejs') -%>
