<%- include('head.ejs') -%>
<%- include('header.ejs', {s: s}) -%>
<%- include('search.ejs') -%>
<% i.forEach(item => { %>
		<section class="itemResult">
			<h2><a href="<%- item.id -%>"><%- item.name -%></a></h2>
			<h3><%- item.id -%></h3>
		</section>
<% }) %>
<%- include('pagination.ejs', {p: p}) %>
<%- include('searchscr.ejs', {path: '/users'}) %>
<%- include('paginationscr.ejs', {pages: p.pages}) %>
<%- include('foot.ejs') -%>
